@{
    ViewBag.Title = "Trang chủ"; 
    //if (User.Identity.IsAuthenticated)
    //{
    //    Layout = "../shared/_AdminLayout.cshtml";
    //}
  }
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="std">
                <div class="two_scrollers_block">
                    <div class="big_slideshow_position">
                        <div id="pagination"><a class="activeSlide" href="#">1</a><a class="" href="#">2</a><a class="" href="#">3</a></div>
                        <div style="position: relative; width: 761px; height: 561px;" class="slideshow">
                            <div style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 761px; height: 561px;" class="sl_block slide_pic1"><a href="">&nbsp;</a></div>
                            <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 761px; height: 561px;" class="sl_block slide_pic2"><a href="">&nbsp;</a></div>
                            <div style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 761px; height: 561px;" class="sl_block slide_pic3"><a href="">&nbsp;</a></div>
                        </div>
                    </div>
                    @{
                        laca.Models.lacashop_dbEntities db = new laca.Models.lacashop_dbEntities();
                        var items = db.tbl_Items.Where(a => a.IsShow && a.IsHot).Take(12).OrderBy(t => Guid.NewGuid());
                        if (items.Count() > 0)
                        {
                        <div class="new_products_block">
                            <h2><span>Sản phẩm mới</span></h2>
                            <a href="#" id="prev2"></a>
                            <a href="#" id="next2"></a>
                            <div style="position: relative; width: 250px; height: 477px; overflow: hidden;" class="new_prod_list">
                                @foreach (var item in items)
                                {
                                    <div style="position: absolute; top: 0px; left: -250px; display: none; z-index: 4; opacity: 1; width: 250px; height: 477px;" class="listed_new_product">
                                        <a href="~/item/details/@item.ItemID" title="@item.ItemName" class="product-image">
                                            <img src="~/Images/uploads/@item.Images" alt="@item.ItemName" height="336" width="236"></a>
                                        <h3 class="product-name"><a href="~/item/details/@item.ItemID" title="@item.ItemName">@item.ItemName</a></h3>
                                        <div class="descr"></div>
                                        <div class="new_pr_btn">
                                            <button type="button" title="Add to Cart" class="button btn-cart" onclick=""><span><span>Add to Cart</span></span></button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        }
                    }
                </div>
                <div class="bottom_block">
                    @{             
                        var hotdealitems = db.tbl_Items.Where(a => a.IsShow && a.IsHotDeal).Take(12).OrderBy(t => Guid.NewGuid());
                        if (hotdealitems.Count() > 0)
                        {
                        <div class="bottom_left">
                            <h2 class="title_popular">@Html.ActionLink("Sản phẩm bán chạy nhất", "ItemByProperties", "Item", new { key = "", ItemGroupID =0, m0_s1_c2_new3_km4_hot5 = 5 }, new { })</h2>
                            <div class="list_carousel">
                                <div class="pagination_carousel" id="foo1_pag"><a class="" href="#"><span>1</span></a><a class="" href="#"><span>2</span></a><a class="" href="#"><span>3</span></a></div>
                                <div style="position: relative; overflow: hidden; margin: 0px; width: 100%; height: 252px;" class="caroufredsel_wrapper">
                                    <ul style="margin: 0px; float: none; position: absolute; top: 0px; left: 0px; width: 3840px; height: 252px;" id="user_interaction1">
                                        @foreach (var item in hotdealitems)
                                        {
                                            if (item.DiscountPrice > 0)
                                            {
                                            <li style="margin-right: 0px;">
                                                <div class="pop_price" style="float: left; text-decoration: line-through">@item.Price.ToString("#,###")</div>
                                                <div class="pop_price_discount">@item.DiscountPrice.Value.ToString("#,###")</div>
                                                <a href="~/item/details/@item.ItemID">
                                                    <img src="~/images/uploads/@item.Images" alt="@item.ItemName" style="width: 140px"></a><p><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                            </li>
                                            }
                                            else
                                            {
                                        
                                            <li style="margin-right: 0px; ">
                                                <div class="pop_price">@item.Price.ToString("#,###")</div>
                                                <a href="~/item/details/@item.ItemID">
                                                    <img src="~/images/uploads/@item.Images" alt="@item.ItemName" style="width: 140px"></a><p><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                            </li>
                                            }
                                        }

                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        }
                    }
                    @{             
                        var groupitems = db.tbl_Items.Where(a => a.IsShow && a.IsNew).Take(12).OrderBy(t => Guid.NewGuid());
                        if (groupitems.Count() > 0)
                        {
                        <div class="bottom_left">
                            <h2 class="title_popular">@Html.ActionLink("Sản phẩm mới nhất", "ItemByProperties", "Item", new { key = "", ItemGroupID =0, m0_s1_c2_new3_km4_hot5 = 3 }, new { })</h2>
                            <div class="list_carousel">
                                <div class="pagination_carousel" id="foo2_pag"><a class="" href="#"><span>1</span></a><a class="" href="#"><span>2</span></a><a class="" href="#"><span>3</span></a></div>
                                <div style="position: relative; overflow: hidden; margin: 0px; width: 100%; height: 252px;" class="caroufredsel_wrapper">
                                    <ul style="margin: 0px; float: none; position: absolute; top: 0px; left: 0px; width: 3840px; height: 252px;" id="user_interaction2">
                                        @foreach (var item in groupitems)
                                        {
                                            if (item.DiscountPrice > 0)
                                            {
                                            <li style="margin-right: 0px;">
                                                <div class="pop_price" style="float: left; text-decoration: line-through">@item.Price.ToString("#,###")</div>
                                                <div class="pop_price_discount">@item.DiscountPrice.Value.ToString("#,###")</div>
                                                <a href="~/item/details/@item.ItemID">
                                                    <img src="~/images/uploads/@item.Images" alt="@item.ItemName" style="width: 140px"></a><p><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                            </li>
                                            }
                                            else
                                            {
                                        
                                            <li style="margin-right: 0px;">
                                                <div class="pop_price">@item.Price.ToString("#,###")</div>
                                                <a href="~/item/details/@item.ItemID">
                                                    <img src="~/images/uploads/@item.Images" alt="@item.ItemName" style="width: 140px"></a><p><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                            </li>
                                            }
                                        }

                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        }
                    }
                    @{             
                        var discountitems = db.tbl_Items.Where(a => a.IsShow && a.DiscountPrice > 0).Take(12).OrderBy(t => Guid.NewGuid());
                        if (discountitems.Count() > 0)
                        {
                        <div class="bottom_left">
                            <h2 class="title_popular">@Html.ActionLink("Sản phẩm khuyến mãi", "ItemByProperties", "Item", new { key = "", ItemGroupID =0, m0_s1_c2_new3_km4_hot5 = 4 }, new { })</h2>
                            <div class="list_carousel">
                                <div class="pagination_carousel" id="foo3_pag"><a class="" href="#"><span>1</span></a><a class="" href="#"><span>2</span></a><a class="" href="#"><span>3</span></a></div>
                                <div style="position: relative; overflow: hidden; margin: 0px; width: 100%; height: 252px;" class="caroufredsel_wrapper">
                                    <ul style="margin: 0px; float: none; position: absolute; top: 0px; left: 0px; width: 3840px; height: 252px;" id="user_interaction3">
                                        @foreach (var item in discountitems)
                                        {
                                            if (item.DiscountPrice > 0)
                                            {
                                            <li style="margin-right: 0px;">
                                                <div class="pop_price" style="float: left; text-decoration: line-through">@item.Price.ToString("#,###")</div>
                                                <div class="pop_price_discount">@item.DiscountPrice.Value.ToString("#,###")</div>
                                                <a href="~/item/details/@item.ItemID">
                                                    <img src="~/images/uploads/@item.Images" alt="@item.ItemName" style="width: 140px"></a><p><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                            </li>
                                            }
                                            else
                                            {
                                        
                                            <li style="margin-right: 0px;">
                                                <div class="pop_price">@item.Price.ToString("#,###")</div>
                                                <a href="~/item/details/@item.ItemID">
                                                    <img src="~/images/uploads/@item.Images" alt="@item.ItemName" style="width: 140px"></a><p><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                            </li>
                                            }
                                        }

                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

</div>
