@model laca.Models.tbl_Items

@{
    ViewBag.Title = Model.ItemName;
    if (Model.DiscountPrice.Value > 0) { Model.Price = Model.DiscountPrice.Value; }
    if (User.Identity.IsAuthenticated)
    {
        Layout = "../shared/_AdminLayout.cshtml";
    }
    laca.Models.lacashop_dbEntities db = new laca.Models.lacashop_dbEntities();
}
<link rel="stylesheet" href="~/Content/multizoom.css" type="text/css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

<script type="text/javascript" src="~/Scripts/siteScripts/multizoom.js"></script>

<script type="text/javascript">
    function resetImage(imageUrl) {
        jQuery(document).ready(function ($) {

            $('#image').addimagezoom({ // single image zoom
                zoomrange: [3, 10],
                magnifiersize: [300, 300],
                magnifierpos: 'right',
                cursorshade: true,
                largeimage: $('#image').src
            });
        });
    }
    jQuery(document).ready(function ($) {

        $('#image').addimagezoom({ // single image zoom
            zoomrange: [3, 10],
            magnifiersize: [300, 300],
            magnifierpos: 'right',
            cursorshade: true,
            largeimage: $('#image').src
        });
    });
    function addItem(id, price) {
        var url = "../../order/additem?itemid=" + id + "&price=" + price + "&qtty=" + $("quantity").value;
        window.location.href = url;
    }
</script>
<div class="main-container col2-right-layout">
    <div class="main">
        <div class="breadcrumbs">
            <ul>
                <li class="product">
                    <a href="~/" title="Trang chủ">Trang chủ</a>
                    <span>&gt; </span>
                </li>
                <li class="product">
                    <a href="~/Item/ItemByItemType/@Model.tbl_ItemGroup.ItemTypeID" title="@Model.tbl_ItemGroup.tbl_ItemType.ItemTypeName"><strong>@Model.tbl_ItemGroup.tbl_ItemType.ItemTypeName</strong></a>
                    <span>&gt; </span>
                </li>
                <li class="product">
                    <a href="~/Item/ItemByItemGroup/@Model.ItemGroupID" title="@Model.tbl_ItemGroup.ItemGroupName"><strong>@Model.tbl_ItemGroup.ItemGroupName</strong></a>
                </li>
            </ul>
        </div>
        <div class="col-main">
            <div id="messages_product_view"></div>
            <div class="product-view">
                <div class="product-essential">
                    <div class="no-display">
                        <input name="product" value="43" type="hidden">
                        <input name="related_product" id="related-products-field" value="" type="hidden">
                    </div>
                    <div class="product-shop">
                        <div class="product-name">
                            <h1>@Model.ItemName</h1>
                        </div>
                        <p class="email-friend"><a href="">Chia sẽ trên Facebook</a></p>

                        <div class="price-box">
                            <span class="regular-price" id="product-price-43">
                                <span class="price">@Model.Price.ToString("###,#")</span> </span>
                        </div>

                        <div class="clear"></div>
                        <div class="add-to-box">
                            <div class="add-to-cart">
                                <label for="qty">Số lượng:</label>
                                <input name="qty" id="quantity" maxlength="12" value="1" title="Qty" class="input-text qty" type="text">
                                <button type="button" title="Thêm vào giỏ hàng" style="background-color: black" class="button btn-cart" onclick="addItem(@Model.ItemID, @Model.Price)"><span><span>Thêm vào giỏ hàng</span></span></button>

                            </div>

                        </div>

                    </div>
                    <div class="product-img-box">
                        <p class="product-image">
                            <img style="width: 265px; left: 0px; top: 0px;" id="image" src="~/Images/Uploads/@Model.Images" alt="@Model.ItemName" title="@Model.ItemName">
                        </p>

                        @{
                            string path = "~/Images/uploads/" + Model.ItemID;
                            path = Server.MapPath(path);
                            List<string> list = new List<string>();
                            if (Directory.Exists(path))
                            {
                                string[] files = Directory.GetFiles(path);

                                foreach (string s in files)
                                {
                                    string filename = Path.GetFileName(s);
                                    System.IO.File.Move(s, s.Replace(" ", "_").Replace("-", "_"));
                                    if (filename.ToLower().IndexOf(".jpg") >= 0 || filename.ToLower().IndexOf(".png") >= 0 || filename.ToLower().IndexOf(".gif") >= 0)
                                    {
                                        list.Add("../../images/uploads/" + Model.ItemID + "/" + filename.Replace(" ", "_").Replace("-", "_"));
                                    }
                                }
                                if (list.Count > 0)
                                {
                            <div class="more-views">
                                <h2>Xem thêm</h2>
                                <ul>
                                    <li>
                                        <a href="#" onclick="$('image').src='@Href("~/images/uploads/"+Model.Images)'; resetImage('@Model.Images');return false;" title="">
                                            <img src="~/images/uploads/@Model.Images" alt="" height="68" width="68"></a>
                                    </li>
                                    @foreach (var image in list)
                                    {
                                        <li>
                                            <a href="#" onclick="$('image').src='@image'; resetImage('@image');return false;" title="">
                                                <img src="@image" alt="" height="68" width="68"></a>
                                        </li>
                                    }

                                </ul>
                            </div>
                                }
                            }
                        }
                    </div>
                    <div class="clearer"></div>

                </div>
                <div class="product-collateral">
                    <div class="box-collateral box-description">
                        <h2>Chi tiết sản phẩm</h2>
                        <div class="std">
                            @Model.Description
                        </div>
                    </div>
                    <div class="box-collateral box-additional">
                        <h2>Thông tin thêm</h2>
                        <table class="data-table" id="product-attribute-specs-table">
                            <colgroup>
                                <col width="25%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr class="first last odd">
                                    <th class="label">Kiểu dáng</th>
                                    <td class="data last">@Html.ActionLink(Model.Style, "ItemByProperties", new { key = Model.Style, ItemGroupID = Model.ItemGroupID, m0_s1_c2_new3_km4_hot5 = 1 })</td>
                                </tr>
                                <tr class="first last odd">
                                    <th class="label">Chất liệu</th>
                                    <td class="data last">@Html.ActionLink(Model.Material, "ItemByProperties", new { key = Model.Material, ItemGroupID = Model.ItemGroupID, m0_s1_c2_new3_km4_hot5 = 0 })</td>
                                </tr>
                                <tr class="first last odd">
                                    <th class="label">Màu sắc</th>
                                    <td class="data last">@Html.ActionLink(Model.Color, "ItemByProperties", new { key = Model.Color, ItemGroupID = Model.ItemGroupID, m0_s1_c2_new3_km4_hot5 = 2 })</td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
                    </div>
                    <div class="box-collateral box-up-sell">
                        <h2>Sản phẩm cùng loại</h2>
                        <ul class="products-grid" id="upsell-product-table">
                            @{
                                var groupitems = db.tbl_Items.Where(a => a.IsShow && a.ItemGroupID == Model.ItemGroupID).OrderBy(t => Guid.NewGuid()).Take(4);
                                foreach (var item in groupitems)
                                {
                                <li class="item">
                                    <div class="price-box">
                                        <span class="regular-price" id="product-price-42-upsell">
                                            <span class="price">@item.Price.ToString("#,###")</span> </span>
                                    </div>
                                    <a href="~/item/details/@item.ItemID" title="@item.ItemName" class="product-image">
                                        <img src="~/images/uploads/@item.Images" alt="@item.ItemName" height="197" width="150"></a>
                                    <h3 class="product-name"><a href="~/item/details/@item.ItemID" title="@item.ItemName">@item.ItemName</a></h3>
                                </li>
                                }
                            }

                            <li class="empty">&nbsp;</li>
                        </ul>
                        <script type="text/javascript">
                            function addItem(id, price) {
                                var url = "../../order/additem?itemid=" + id + "&price=" + price + "&qtty=1";
                                //alert(url);
                                window.location.href = url;
                            }

                        </script>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-right sidebar">
            <div class="block block-related">
                <div class="block-title">
                    <strong><span>Sản phẩm cùng giá</span></strong>
                </div>
                <div class="block-content">
                    @*<p class="block-subtitle">Chọn sản phẩm để thêm vào giỏ hàng hoặc&nbsp;<a href="#" onclick="selectAllRelated(this); return false;">Chọn tất cả</a></p>*@
                    <ol class="mini-products-list" id="block-related">
                        @{
                            var items = db.tbl_Items.Where(a => a.IsShow && a.Price >= Model.Price - 50000 && a.Price <= a.Price + 50000).OrderBy(t => Guid.NewGuid()).Take(3);
                            foreach (var item in items)
                            {
                            <li class="item odd">
                                @*<input class="checkbox related-checkbox" id="related-checkbox42" name="related_products[]" value="42" type="checkbox">*@
                                <div class="product">
                                    <a href="~/item/details/@item.ItemID" title="@item.ItemName" class="product-image">
                                        <img src="~/images/uploads/@item.Images" alt="@item.ItemName" height="130" width="100"></a>
                                    <div class="product-details">
                                        <p class="product-name"><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                        <div class="price-box">
                                            <span class="regular-price" id="product-price-42-related">
                                                @if (item.DiscountPrice.Value > 0)
                                                {
                                                    <span class="price">@item.DiscountPrice.Value.ToString("#,###")</span>
                                                }
                                                else
                                                {
                                                    <span class="price">@item.Price.ToString("#,###")</span>
                                                }
                                            </span>
                                        </div>
                                        @*@if (item.DiscountPrice.Value > 0)
                                        {
                                            <a onclick="addItem(@item.ItemID, @item.DiscountPrice.Value)" class="Thêm vào giỏ hàng">Thêm vào giỏ hàng</a>
                                        }
                                        else
                                        {
                                            <a onclick="addItem(@item.ItemID, @item.Price)" class="Thêm vào giỏ hàng">Thêm vào giỏ hàng</a>
                                        }*@
                                    </div>
                                </div>
                            </li>
                            }
                        }

                    </ol>
                    <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
                </div>
                <script type="text/javascript">
                    //<![CDATA[
                    $$('.related-checkbox').each(function (elem) {
                        Event.observe(elem, 'click', addRelatedToProduct)
                    });

                    var relatedProductsCheckFlag = false;
                    function selectAllRelated(txt) {
                        if (relatedProductsCheckFlag == false) {
                            $$('.related-checkbox').each(function (elem) {
                                elem.checked = true;
                            });
                            relatedProductsCheckFlag = true;
                            txt.innerHTML = "Bỏ chọn tất cả";
                        } else {
                            $$('.related-checkbox').each(function (elem) {
                                elem.checked = false;
                            });
                            relatedProductsCheckFlag = false;
                            txt.innerHTML = "Chọn tất cả";
                        }
                        addRelatedToProduct();
                    }

                    function addRelatedToProduct() {
                        var checkboxes = $$('.related-checkbox');
                        var values = [];
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].checked) values.push(checkboxes[i].value);
                        }
                        if ($('related-products-field')) {
                            $('related-products-field').value = values.join(',');
                        }
                    }
                    //]]>
                </script>
            </div>
            @{
                if (Session[Session.SessionID] == null)
                {
                    Session[Session.SessionID] = new List<laca.Models.tbl_OrderDetail>();
                }

                List<laca.Models.tbl_OrderDetail> listItem = Session[Session.SessionID] as List<laca.Models.tbl_OrderDetail>;
                if (listItem.Count == 0)
                {
                <div class="block block-cart">
                    <div class="block-title">
                        <strong><span>Giỏ hàng</span></strong>
                    </div>
                    <div class="block-content">
                        <p class="empty">Bạn không có sản phẩm nào trong giỏ hàng.</p>
                    </div>
                </div>
                }
                else
                {
                <div class="block block-cart">
                    <div class="block-title">
                        <strong><span>Giỏ hàng</span></strong>
                    </div>
                    <div class="block-content">
                        <div class="summary">
                            <p class="amount">Có <a href="~/order/details">@listItem.Count sản phẩm</a> trong giỏ hàng.</p>
                            <p class="subtotal">
                                <span class="label">Tổng giá trị giỏ hàng:</span> <span class="price">@listItem.Sum(a=>a.Amount).Value.ToString("#,###")</span>
                            </p>
                        </div>
                        <div class="actions">
                            <button type="button" title="Checkout" class="button" onclick="~/order/details"><span><span>Đặt hàng</span></span></button>
                        </div>
                        <p class="block-subtitle">Sản phẩm trong giỏ hàng</p>
                        <ol id="cart-sidebar" class="mini-products-list">
                            @foreach (var item in listItem)
                            {
                                <li class="item odd">
                                    <a href="~/item/details/@item.ItemID" title="@item.tbl_Items.ItemName" class="product-image">
                                        <img src="~/images/uploads/@item.tbl_Items.Images" width="100" height="130" alt="@item.tbl_Items.ItemName"></a>
                                    <div class="product-details">
                                        <a href="~/order/RemoveItem?ItemID=@item.ItemID" title="Remove This Item" onclick="return confirm(&#39;Bạn có chắc là muốn xóa sản phẩm này khỏi giỏ hàng không?&#39;);" class="btn-remove">Remove This Item</a>
                                        <a href="~/item/details/@item.ItemID" title="Edit item" class="btn-edit">Edit item</a>
                                        <p class="product-name"><a href="~/item/details/@item.ItemID">@item.tbl_Items.ItemName</a></p>
                                        <strong>@item.Qty</strong> x
                                            <span class="price">@item.Price.Value.ToString("#,###")</span>

                                    </div>
                                </li>
                            }
                        </ol>
                        <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
                    </div>
                </div>
                }
            }
            @**@

        </div>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
