@model laca.Models.tbl_Items

@{
    ViewBag.Title = Model.ItemName;
    if (User.Identity.IsAuthenticated)
    {
        Layout = "../shared/_AdminLayout.cshtml";
    }
    laca.Models.lacashop_dbEntities db = new laca.Models.lacashop_dbEntities();
}
<div class="main-container col2-right-layout">
    <div class="main">
        <div class="breadcrumbs">
            <ul>
                <li class="product">
                    <a href="~/" title="Trang chủ">Trang chủ</a>
                    <span>&gt; </span>
                </li>
                <li class="product">
                    <a href="~/Item/ItemByType/@Model.tbl_ItemGroup.ItemTypeID" title="@Model.tbl_ItemGroup.tbl_ItemType.ItemTypeName"><strong>@Model.tbl_ItemGroup.tbl_ItemType.ItemTypeName</strong></a>
                    <span>&gt; </span>
                </li>
                <li class="product">
                    <a href="~/Item/ItemByType/@Model.ItemGroupID" title="@Model.tbl_ItemGroup.ItemGroupName"><strong>@Model.tbl_ItemGroup.ItemGroupName</strong></a>
                </li>
            </ul>
        </div>
        <div class="col-main">
            <div id="messages_product_view"></div>
            <div class="product-view">
                <div class="product-essential">
                    <div class="no-display">
                        <input name="product" value="43" type="hidden">
                        <input name="related_product" id="related-products-field" value="" type="hidden">
                    </div>
                    <div class="product-shop">
                        <div class="product-name">
                            <h1>@Model.ItemName</h1>
                        </div>
                        <p class="email-friend"><a href="">Chia sẽ trên Facebook</a></p>

                        <div class="price-box">
                            <span class="regular-price" id="product-price-43">
                                <span class="price">@Model.Price.Value.ToString("###,#")</span> </span>
                        </div>
                        <p class="availability in-stock">
                            Trạng thái: 
                            @{
                                if (Model.ItemCount > 0)
                                {
                                <span>Còn hàng</span>
                                }
                                else
                                {
                                <span>Hết hàng</span>
                                }
                            }</span>
                        </p>
                        <div class="clear"></div>
                        <div class="add-to-box">
                            <div class="add-to-cart">
                                <label for="qty">Số lượng:</label>
                                <input name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" type="text">
                                <button type="button" title="Thêm vào giỏ hàng" style="background-color: black" class="button btn-cart" onclick=""><span><span>Thêm vào giỏ hàng</span></span></button>
                            </div>
                            @* <span class="or">OR</span>
                            <ul class="add-to-links">
                                <li><a href="http://livedemo00.template-help.com/magento_34403/index.php/wishlist/index/add/product/43/" onclick="productAddToCartForm.submitLight(this, 'http://livedemo00.template-help.com/magento_34403/index.php/wishlist/index/add/product/43/'); return false;" class="link-wishlist">Add to Wishlist</a></li>
                                <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_34403/index.php/catalog/product_compare/add/product/43/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNDQwMy9pbmRleC5waHAva2F0ZS1zcGFkZS0xLmh0bWw,/" class="link-compare">Add to Compare</a></li>
                            </ul>*@
                        </div>
                        @*<div class="short-description">
                            <h2>Quick Overview</h2>
                            <div class="std">new york 'jillian' bow front dress</div>
                        </div>*@
                    </div>
                    <div class="product-img-box">
                        <p class="product-image product-image-zoom">
                            <img style="width: 265px; left: 0px; top: 0px;" id="image" src="~/Images/Uploads/@Model.Images" alt="kate spade" title="kate spade">
                        </p>
                        <p class="zoom-notice" id="track_hint">Nhấn chuột 2 lần để xem hình lớn hơn</p>
                        <div class="zoom">
                            <img id="zoom_out" src="~/Images/Images/slider_btn_zoom_out.gif" alt="Zoom Out" title="Zoom Out" class="btn-zoom-out">
                            <div id="track">
                                <div style="left: 0px;" class="selected" id="handle"></div>
                            </div>
                            <img id="zoom_in" src="~/Images/Images/slider_btn_zoom_in.gif" alt="Zoom In" title="Zoom In" class="btn-zoom-in">
                        </div>
                        <script type="text/javascript">
                            //<![CDATA[
                            Event.observe(window, 'load', function () {
                                //alert('cuc gach');
                                product_zoom = new Product.Zoom('image', 'track', 'handle', 'zoom_in', 'zoom_out', 'track_hint');
                            });
                            //]]>
                        </script>
                        @*<div class="more-views">
                            <h2>Xem thêm</h2>
                            <ul>
                                <li>
                                    <a href="#" onclick="popWin('http://livedemo00.template-help.com/magento_34403/index.php/catalog/product/gallery/id/43/image/123/', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="">
                                        <img src="kate%20spade_files/pic2_002.jpg" alt="" height="68" width="68"></a>
                                </li>
                            </ul>
                        </div>*@
                        @{
                            string path = "~/Images/uploads/" + Model.ItemID;
                            path = Server.MapPath(path);
                            List<string> list = new List<string>();
                            if (Directory.Exists(path))
                            {
                                string[] files = Directory.GetFiles(path);

                                foreach (string s in files)
                                {
                                    string filename = Path.GetFileName(s);
                                    System.IO.File.Move(s, s.Replace(" ", "_").Replace("-", "_"));
                                    if (filename.ToLower().IndexOf(".jpg") >= 0 || filename.ToLower().IndexOf(".png") >= 0 || filename.ToLower().IndexOf(".gif") >= 0)
                                    {
                                        list.Add("../../images/uploads/" + Model.ItemID + "/" + filename.Replace(" ", "_").Replace("-", "_"));
                                    }
                                }
                                if (list.Count > 0)
                                {
                            <div class="more-views">
                                <h2>Xem thêm</h2>
                                <ul>
                                    @foreach (var image in list)
                                    {
                                        <li>
                                            <a href="#" onclick="', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="">
                                                <img src="@image" alt="" height="68" width="68"></a>
                                        </li>
                                    }

                                </ul>
                            </div>
                                }
                            }
                        }
                    </div>
                    <div class="clearer"></div>

                </div>
                <div class="product-collateral">
                    <div class="box-collateral box-description">
                        <h2>Chi tiết sản phẩm</h2>
                        <div class="std">
                            @Model.Description
                        </div>
                    </div>
                    <div class="box-collateral box-additional">
                        <h2>Thông tin thêm</h2>
                        <table class="data-table" id="product-attribute-specs-table">
                            <colgroup>
                                <col width="25%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr class="first last odd">
                                    <th class="label">Kiểu dáng</th>
                                    <td class="data last">@Model.Style</td>
                                </tr>
                                <tr class="first last odd">
                                    <th class="label">Chất liệu</th>
                                    <td class="data last">@Model.Material</td>
                                </tr>
                                <tr class="first last odd">
                                    <th class="label">Màu sắc</th>
                                    <td class="data last">@Model.Color</td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
                    </div>
                    <div class="box-collateral box-up-sell">
                        <h2>Sản phẩm cùng loại</h2>
                        <ul class="products-grid" id="upsell-product-table">
                            @{
                                var groupitems = db.tbl_Items.Where(a => a.IsShow && a.ItemGroupID == Model.ItemGroupID).OrderBy(t => Guid.NewGuid()).Take(4);
                                foreach (var item in groupitems)
                                {
                                <li class="item">
                                    <div class="price-box">
                                        <span class="regular-price" id="product-price-42-upsell">
                                            <span class="price">@item.Price.Value.ToString("#,###")</span> </span>
                                    </div>
                                    <a href="~/item/details/@item.ItemID" title="@item.ItemName" class="product-image">
                                        <img src="~/images/uploads/@item.Images" alt="@item.ItemName" height="197" width="150"></a>
                                    <h3 class="product-name"><a href="~/item/details/@item.ItemID" title="@item.ItemName">@item.ItemName</a></h3>
                                </li>
                                }
                            }

                            <li class="empty">&nbsp;</li>
                        </ul>
                        <script type="text/javascript">decorateTable('upsell-product-table')</script>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-right sidebar">
            <div class="block block-related">
                <div class="block-title">
                    <strong><span>Sản phẩm cùng giá</span></strong>
                </div>
                <div class="block-content">
                    <p class="block-subtitle">Chọn sản phẩm để thêm vào giỏ hàng hoặc&nbsp;<a href="#" onclick="selectAllRelated(this); return false;">Chọn tất cả</a></p>
                    <ol class="mini-products-list" id="block-related">
                        @{
                            var items = db.tbl_Items.Where(a => a.IsShow && a.Price >= Model.Price - 50000 && a.Price <= a.Price + 50000).OrderBy(t => Guid.NewGuid()).Take(3);
                            foreach (var item in items)
                            {
                            <li class="item odd">
                                <input class="checkbox related-checkbox" id="related-checkbox42" name="related_products[]" value="42" type="checkbox">
                                <div class="product">
                                    <a href="~/item/details/@item.ItemID" title="@item.ItemName" class="product-image">
                                        <img src="~/images/uploads/@item.Images" alt="@item.ItemName" height="130" width="100"></a>
                                    <div class="product-details">
                                        <p class="product-name"><a href="~/item/details/@item.ItemID">@item.ItemName</a></p>
                                        <div class="price-box">
                                            <span class="regular-price" id="product-price-42-related">
                                                <span class="price">@item.Price.Value.ToString("#,###")</span> </span>
                                        </div>
                                        <a onclick="addToCard(@item.ItemID)" class="Thêm vào giỏ hàng">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </li>
                            }
                        }

                    </ol>
                    <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
                </div>
                <script type="text/javascript">
                    //<![CDATA[
                    $$('.related-checkbox').each(function (elem) {
                        Event.observe(elem, 'click', addRelatedToProduct)
                    });

                    var relatedProductsCheckFlag = false;
                    function selectAllRelated(txt) {
                        if (relatedProductsCheckFlag == false) {
                            $$('.related-checkbox').each(function (elem) {
                                elem.checked = true;
                            });
                            relatedProductsCheckFlag = true;
                            txt.innerHTML = "Bỏ chọn tất cả";
                        } else {
                            $$('.related-checkbox').each(function (elem) {
                                elem.checked = false;
                            });
                            relatedProductsCheckFlag = false;
                            txt.innerHTML = "Chọn tất cả";
                        }
                        addRelatedToProduct();
                    }

                    function addRelatedToProduct() {
                        var checkboxes = $$('.related-checkbox');
                        var values = [];
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].checked) values.push(checkboxes[i].value);
                        }
                        if ($('related-products-field')) {
                            $('related-products-field').value = values.join(',');
                        }
                    }
                    //]]>
                </script>
            </div>
            <div class="block block-cart">
                <div class="block-title">
                    <strong><span>My Cart</span></strong>
                </div>
                <div class="block-content">
                    <p class="empty">You have no items in your shopping cart.</p>
                </div>
            </div>

        </div>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
    </p>
</div>
