@model laca.Models.tbl_Imports

@{
    ViewBag.Title = "Delete";
    Layout = "../shared/_AdminLayout.cshtml";
}

<div class="main-container col2-right-layout">
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_Imports</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImportID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImportID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Supplier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImportUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImportUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImportDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImportDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
</div>