@model laca.Models.tbl_Imports

@{
    ViewBag.Title = "Details";
    Layout = "../shared/_AdminLayout.cshtml";
}

<div class="main-container col2-right-layout">
<h2>Details</h2>

<fieldset>
    <legend>tbl_Imports</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImportID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImportID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Supplier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImportUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImportUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImportDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImportDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
</div>