@model laca.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
}

<div class="main-container col2-right-layout">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <br />
    <br />
    <br />
    <style>
        #login {
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            height: 200px;
            background: url("../../images/Images/totals.gif");
        }

        .valuefield {
            padding: 5px 5px 5px 5px;
            min-height: 30px;
        }

        .textfield {
            padding: 5px 5px 5px 5px;
            float: left;
            width: 100px;
            min-height: 30px;
            text-align: right;
        }
    </style>
    <section id="loginForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
             
            <div id="login">
                <div class="textfield">
                    Tên đăng nhập
                </div>
                <div class="valuefield">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="textfield">Mật khẩu</div>
                <div>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)<br /><br />
                    @Html.CheckBoxFor(m => m.RememberMe)
                    Lưu mật khẩu<br /><br />
                    <input type="submit" value="Đăng nhập" />
                </div>
               
            </div>
@*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
        }
    </section>

    @*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
