@model laca.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
}

<div class="main-container col2-right-layout">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <br />
    <br />
    <br />
    <style>
        #login {
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            height: 120px;
            background: url("../../images/Images/totals.gif");
        }

        .valuefield {
            padding: 5px 5px 5px 5px;
        }

        .textfield {
            padding: 5px 5px 5px 5px;
            float: left;
            width: 100px;
            text-align: right;
        }
    </style>
    <section id="loginForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
             
            <table id="login">
                <tr>
                    <td class="textfield">Tên đăng nhập
                    </td>
                    <td class="valuefield">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </td>
                </tr>
                <tr>
                    <td class="textfield">Mật khẩu</td>
                    <td>
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </td>
                </tr>
                <tr>
                    <td class="textfield">Lưu mật khẩu</td>
                    <td class="valuefield">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        
                    </td>
                </tr>

                <tr>
                    <td class="textfield"></td>
                    <td class="valuefield">
                        <input type="submit" value="Đăng nhập" /></td>
                </tr>
            </table>
@*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
        }
    </section>

    @*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
