@model laca.Models.LocalPasswordModel
@{
    ViewBag.Title = "Quản lí tài khoản";
}

<div class="main-container col2-right-layout">
<hgroup class="title">
    <h1>Quản lí tài khoản</h1>
</hgroup>


<p>Bạn đang đăng nhập là <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    </div>