@model laca.Models.tbl_Orders

@{
    ViewBag.Title = "Delete";
}

<div class="main-container col2-right-layout">
<h2>Xóa đơn hàng</h2>

<h3>Bạn có chắc là muốn xóa đơn hàng này không?</h3>
<fieldset>
    <legend>tbl_Orders</legend>

    <div class="display-label">
         ID đơn hàng
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>

    <div class="display-label">
         Khách hàng
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_Customers.CustomerName)
    </div>

    <div class="display-label">
         Ngày đặt hàng
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         Ngày giao hàng
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeliveryDate)
    </div>

    <div class="display-label">
         Giá trị đơn hàng
    </div>
    <div class="display-field">
        @Model.tbl_OrderDetail.Sum(a => a.Amount).Value.ToString("#,###")
    </div>
    <h2>Sản phẩm trong giỏ hàng</h2>
            <table id="shopping-cart-table" class="data-table cart-table">
                <thead>
                    <tr class="first last">
                        <th rowspan="1">&nbsp;</th>
                        <th rowspan="1"><span class="nobr">Tên sản phẩm</span></th>

                        <th class="a-center" colspan="1"><span class="nobr">Giá</span></th>
                        <th rowspan="1" class="a-center">Số lượng</th>
                        <th class="a-center" colspan="1">Thành tiền</th>
                        @*<th rowspan="1" class="a-center">Xóa sản phẩm</th>*@
                    </tr>
                </thead>

                <tbody>
                    @{
        foreach (var item in Model.tbl_OrderDetail)
        {
                        <tr class="first last odd">

                            <td class="a-center"><a href="~/item/details/@item.ItemID" title="Oversized  Jetset Tote" class="product-image">
                                <img src="~/images/uploads/@item.tbl_Items.Images" width="85" height="110" alt="Oversized  Jetset Tote"></a></td>
                            <td class="a-center">
                                <h2 class="product-name">
                                    <a href="~/item/details/@item.ItemID">@item.tbl_Items.ItemName</a>
                                </h2>
                            </td>

                            <td class="a-center">
                                <span class="cart-price">
                                    <span class="price">@item.Price.Value.ToString("#,###")</span>
                                </span>
                            </td>
                            <td class="a-center">
                                <span>@item.Qty.Value.ToString("#,###") </span>
                            </td>
                            <td class="a-center">
                                <span class="cart-price">
                                    <span class="price">@item.Amount.Value.ToString("#,###")</span>
                                </span>
                            </td>
                            @*                            <td class="a-center last">
                                <a href="~/order/RemoveItem?ItemID=@item.ItemID" title="Remove item" class="btn-remove btn-remove2">Xóa sản phẩm</a>

                            </td>*@
                        </tr>
        }
                    }
                </tbody>
            </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
</div>