@model laca.Models.tbl_Orders

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_Orders</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_Customers.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_Customers.CustomerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DeliveryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeliveryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalValue)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
