@model IEnumerable<laca.Models.tbl_Orders>

@{
    ViewBag.Title = "Index";
    Layout = "../shared/_AdminLayout.cshtml";
}
<div class="main-container col2-right-layout">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="giohang">
        <tr>
            <th>Mã đơn hàng
            </th>
            <th>Tên khách hàng
            </th>
            <th>Ngày đặt hàng
            </th>
            <th>Ngày giao hàng
            </th>
            <th>Tổng giá trị
            </th>
            <th>Trạng thái
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_Customers.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @item.tbl_OrderDetail.Sum(a=>a.Amount).Value.ToString("#,###")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.OrderID }) |
            @*@Html.ActionLink("Chi tiết", "Details", new {  id=item.OrderID }) |*@
                    @Html.ActionLink("Xóa", "Delete", new { id = item.OrderID })
                </td>
            </tr>
        }

    </table>
</div>
