@model IEnumerable<laca.Models.tbl_Orders>

@{
    ViewBag.Title = "Index";
}
<div class="main-container col2-right-layout">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="giohang">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_Customers.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_Customers.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.OrderID}) |
            @Html.ActionLink("Details", "Details", new {  id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.OrderID  })
                </td>
            </tr>
        }

    </table>
</div>
