<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - lacashop.vn - trung tâm thời trang và phụ kiện</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/siteScripts/jquery-1.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/siteScripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/siteScripts/jquery_002.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/scripts.js"></script>
    <script type="text/javascript" charset="utf-8">
        var J = jQuery.noConflict();
    </script>
    <script type="text/javascript">
        J(document).ready(
        function () {
            J('.slideshow').before('<div id="pagination">').cycle({
                fx: 'fade',
                timeout: 5000,
                pager: '#pagination'
            });
            J('.new_prod_list')
            .cycle({
                fx: 'scrollHorz',
                speed: 'fast',
                next: '#next2',
                prev: '#prev2'

            });
        }
        );
        J(function () {
            J("ul#user_interaction1").carouFredSel({
                items: {
                    visible: 6,
                    width: 160
                },
                scroll: {
                    items: 1,
                    duration: 500
                },
                pagination: "#foo1_pag"
            });
            J("ul#user_interaction2").carouFredSel({
                items: {
                    visible: 6,
                    width: 160
                },
                scroll: {
                    items: 1,
                    duration: 500
                },
                pagination: "#foo2_pag"
            });
            J("ul#user_interaction3").carouFredSel({
                items: {
                    visible: 6,
                    width: 160
                },
                scroll: {
                    items: 1,
                    duration: 500
                },
                pagination: "#foo3_pag"
            });
        });
    </script>
    <!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = 'http://livedemo00.template-help.com/magento_34403/js/blank.html';
    var BLANK_IMG = 'http://livedemo00.template-help.com/magento_34403/js/spacer.gif';
//]]>
</script>
<![endif]-->
    <!--[if lt IE 7]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
    </div>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="~/content/styles.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/content/widgets.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/content/print.css" media="print">
    <script type="text/javascript" src="~/Scripts/SiteScripts/prototype.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/ccard.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/validation.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/builder.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/effects.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/dragdrop.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/controls.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/slider.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScriptsn/js.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/form.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/menu.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/translate.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/cookies.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/product.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/configurable.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/calendar.js"></script>
    <script type="text/javascript" src="~/Scripts/SiteScripts/calendar-setup.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="http://livedemo00.template-help.com/magento_34403/skin/frontend/default/theme042k/css/styles-ie.css" media="all" />
<![endif]-->
    <!--[if lt IE 7]>
<script type="text/javascript" src="http://livedemo00.template-help.com/magento_34403/js/lib/ds-sleight.js"></script>
<script type="text/javascript" src="http://livedemo00.template-help.com/magento_34403/skin/frontend/base/default/js/ie6.js"></script>
<![endif]-->

</head>
<body class="catalog-product-view catalog-product-view product-kate-spade">
    <div class="wrapper">
        <noscript>
            <div class="noscript">
                <div class="noscript-inner">
                    <p><strong>JavaScript seem to be disabled in your browser.</strong></p>
                    <p>You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
                </div>
            </div>
        </noscript>
        <div class="page">
            <div class="header-container">
                <div class="header">
                    <h1 class="logo"><strong>lacashop.vn</strong><a href="~/" title="Magento Commerce"><img src="~/Images/images/logo.gif" alt="Magento Commerce"></a></h1>
                    <div class="quick-access">
                        <p class="welcome-msg">Chào mừng bạn đến với laca shop!</p>

                        <div class="form-search">
                            <label for="search">Tìm kiếm:</label>
                            <input autocomplete="off" id="search" name="q" value="Tìm kiếm sản phẩm..." class="input-text" type="text">
                            <button type="submit" title="Tìm kiếm" class="button"><span><span>Tìm kiếm</span></span></button>
                            <div style="display: none;" id="search_autocomplete" class="search-autocomplete"></div>
                            <script type="text/javascript">
                                    
                            </script>
                        </div>

                        <ul class="links">
                            <li><a href="~/order" title="My Cart" class="top-link-cart">Giỏ hàng</a></li>
                            @{
                                if (!User.Identity.IsAuthenticated)
                                { 
                                <li class=" last"><a href="~/Account/Login" title="Log In">Đăng nhập</a></li>}
                                else
                                {
                                <li class=" last">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">@User.Identity.Name&nbsp;(Thoát)</a>
                                    }
                                </li> 
                                }
                              
                            }
                        </ul>
                    </div>
                    <div class="nav-container">
                        <ul id="nav">
                            <li id="" class="level0 nav-3 level-top">
                                <a href="~/" class="level-top">
                                    <span>Trang chủ</span>
                                </a>
                            </li>
                            <li id="" class="level0 nav-3 level-top">
                                <a href="~/ItemType" class="level-top">
                                    <span>Loại sản phẩm</span>
                                </a>
                            </li>
                            <li id="" class="level0 nav-3 level-top">
                                <a href="~/ItemGroup" class="level-top">
                                    <span>Nhóm sản phẩm</span>
                                </a>
                            </li>
                            <li id="" class="level0 nav-3 level-top">
                                <a href="~/Item" class="level-top">
                                    <span>Sản phẩm</span>
                                </a>
                            </li>
                            <li id="" class="level0 nav-3 level-top">
                                <a href="~/Order" class="level-top">
                                    <span>Đơn hàng</span>
                                </a>
                            </li>
                            <li id="" class="level0 nav-3 level-top">
                                <a href="~/Import" class="level-top">
                                    <span>Nhập hàng</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @RenderBody()

            <div class="footer-container">
                <div class="footer">
                    <ul>
                        <li><a href="~/home/systemcontent/1">Giới thiệu</a></li>
                        <li class="last"><a href="~/home/systemcontent/4">Dịch vụ khách hàng</a></li>
                        <li class="first"><a href="~/home/systemcontent/3" title="Sơ đồ website">Thanh toán</a></li>
                        <li><a href="~/item/search" title="Tìm kiếm nâng cao">Tìm kiếm nâng cao</a></li>
                        <li class=" last"><a href="~/home/systemcontent/2" title="Liên hệ với chúng tôi">Liên hệ với chúng tôi</a></li>
                    </ul>
                    <div>
                        <div id="fb-root" style="float: left; border: 1px solid red"></div>
                        <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like-box" data-href="http://www.facebook.com/pages/Lacashop/495701970499055?ref=hl" data-width="700" data-height="150" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
                        <address>
                            © 2013 Bản quyền lacashop.vn<br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
