@if (Model.PageCount>1)
{
    <p>
    @if (Model.HasPreviousPage)
    {
        @Ajax.ActionLink("<< Trang đầu", "ItemByItemGroup", new { page = 1, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" }, new { @class="navigabun"})
        @Html.Raw("&nbsp;");
        @Ajax.ActionLink("< Trang trước", "ItemByItemGroup", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" }, new { @class="navigabun"})
    }
    else
    {
        @:<a class="navigabun_dia"><< Trang đầu</a>
        @Html.Raw("&nbsp;");
        @:<a class="navigabun_dia">< Trang trước</a>
    }

    &nbsp;&nbsp;
    
    @if (Model.HasNextPage)
    {
        @Ajax.ActionLink("Trang sau >", "ItemByItemGroup", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" }, new { @class="navigabun"})
        @Html.Raw("&nbsp;");
        @Ajax.ActionLink("Trang cuối >>", "ItemByItemGroup", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" }, new { @class="navigabun"})
    }
    else
    {
        @:<a class="navigabun_dia">Trang sau ></a>
        @Html.Raw("&nbsp;")
        @:<a class="navigabun_dia">Trang cuối >></a>
    }
</p>
}