<p>
    @if (Model.HasPreviousPage)
    {
        @Ajax.ActionLink("<< Trang đầu", "ItemByItemType", new { page = 1, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" })
        @Html.Raw("&nbsp;");
        @Ajax.ActionLink("< Trang trước", "ItemByItemType", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" })
    }
    else
    {
        @:<< Trang đầu
        @Html.Raw("&nbsp;");
        @:< Trang trước
    }

    &nbsp;&nbsp;
    
    @if (Model.HasNextPage)
    {
        @Ajax.ActionLink("Trang sau >", "ItemByItemType", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" })
        @Html.Raw("&nbsp;");
        @Ajax.ActionLink("Trang cuối >>", "ItemByItemType", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSortOrder, id = ViewBag.CurrentID }, new AjaxOptions { UpdateTargetId = "main" })
    }
    else
    {
        @:Trang sau >
        @Html.Raw("&nbsp;")
        @:Trang cuối >>
    }
</p>